$mainColor: #F8A91D;
$Roboto:'Roboto Mono', monospace;
$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;;




*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to left, rgba(87, 83, 83, 0.459), rgba(199, 199, 199, 0.589) ) , url("../tayoStanding.jpg");
    background-position: center;
    background-size: cover;
    padding-right: 10vw;
    padding-top: 13vh;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;


    main{
       text-align: right;
    
        h1{
            font-family: "Times New Roman", Times, serif;
            font-size: 4em;
            font-weight: lighter;
            color: white;
        }

        b{
            font-size: 1.3em;
            font-family:$Roboto;
            color: white
        }

        p{
            font-family: $poppins;
            color: white;
            font-size: 1.3em;
            line-height: 1.52em;
            margin: 2em 0;
            text-align: left;
        }

        .button{
           width: 80%;
           text-align: left;
           
           button{
            background-color: transparent;
            border: 2px solid white;
            border-radius: 5px;
            padding: 1vw 8vw;
            margin-bottom: 2em;
            color: white;
            font-family: $poppins;
            font-weight: bolder;
           }
        }

        .social{
            display: grid;
            grid-template-columns: repeat(4, 6%);
            grid-column-gap: 3px;

            img{
                width: 20px;
                
            }
        }
    

       
    
      
    }
}







/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding.jpg");
        background-position: center;  
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;

        main{

            padding-left: 1em;

            p{
                width: 70%;
            }

            h1{
                text-align: left;
            }

            b{
                text-align: left;
                display: block;
            }
        }
    }
}
    

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding.jpg");
        background-position: center;
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;
    }

    main{
        padding-left: 1em;

        b{
            text-align: left;
            display: inline-block;
        }

        h1{
            text-align: left;
        }

        .button{
            
            button{
                width: 100%;
            }
        }
    }
       
    }

