$mainColor: #F8A91D;
$Roboto:'Roboto Mono', monospace;
$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;;




*{
    margin: 0;
    padding: 0;
}



.body{
    background: linear-gradient(to left, #4747479c  40%, rgba(240, 240, 240, 0.192) ) , url("../tayoStanding-min.jpg");
    background-position: top;
    background-size: cover;
    padding-right: 10vw;
    padding-top: 20vh;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    position: relative;

    a{
        text-decoration: none;
        color: inherit;
        font-family: "Maison Neue", sans-serif;
        cursor: pointer;
    }

    // MAIL PAGE STYLE


    main{
       text-align: left;
       padding-left: 1em;
    //    display: none;
    
        h1{
            font-family: "Times New Roman", Times, serif;
            font-size: 87px;
            font-weight: lighter;
            color: white;
            text-align: left;
        }

        b{
            font-size: 1.3em;
            color: white;
            text-align: left;
            display: block;
            letter-spacing: 2px;
            font-family: "Maison Neue", sans-serif;
        }

        p{
            font-family: "Maison Neue", sans-serif;
            color: white;
            font-size: 15px;
            line-height: 1.52em;
            margin: 2em 0;
            text-align: left;
          
        }

        .button{
           width: 10     0%;
           text-align: right;
           margin: initial 0;
           
           button{
            background-color: transparent;
            border: 2px solid white;
            border-radius: 5px;
            padding: 1vw 8vw;
            margin-bottom: 2em;
            color: white;
            font-family: $poppins;
            font-weight: bolder;
            cursor: pointer;
           }
        }

        .social{
            display: grid;
            grid-template-columns: repeat(4, 6%);
            grid-column-gap: 3px;
            text-align: right;

            &:hover a{
                opacity: 0.5;
            }
            

            img{
                width: 20px;
                
            }

            a{
                display: block;


                &:hover{
                    opacity: 1;
                    transform: scale(1.2);
                    transition: 0.31s;
                }
            }
        }
    

        .newButton{
            display: grid;
            grid-template-columns: 70% 30%;
            grid-column-gap: -1em;

            .newSocial{
                display: grid;
                grid-template-columns: repeat(3, 33%);
                text-align: right;
                grid-column-gap: 0.4em;

                a{
                    display: block;
                    padding: 0;
                    background-color: transparent;
                    border: 1.7px solid rgb(255, 255, 255);
                    width: 9.3vw;
                    border-radius: 4px;
                    padding: 7px 3px;
                    font-family: "Maison Neue", sans-serif;
                    font-weight: bolder;
                    cursor: pointer;
                    font-weight: lighter;
                    text-align: center;

                    button{
                       background-color: transparent;
                       border: none;
                       color: white;
                       cursor: pointer;
                    }
                    
                }
            }

            .socialLink{

                display: grid;
                padding: 7px 3px;
                text-align: right;
                grid-column-gap: 0.4em;
                grid-template-columns: repeat(4, 20%);

                a{
                    display: inline-block;

                    img{
                        width: 60%
                    }
                }
            }
        }
       
    
      
    }

    
}


body{
    .form{
       
        width: 40vw;
        margin: 3em auto;
        background: rgb(255, 255, 255);
        font-family: "Maison Neue", sans-serif;
        display: block;
        height: 60vh;
        padding: 8vh 3vw;
        text-align: right;
        box-shadow: 0px 0px 10px 0px rgb(226, 226, 226);
        position: absolute;
        top: 0;
        left: 30vw;
        display: none;

        form{
            p{
                margin-top: 2em;
                text-align: left;
                line-height: 1.5em;
                font-size: 1.2em;
              

                b{
                    display: block;
                }
            }
    
        }

        .cancel{
            position: absolute;
            top: 0;
            font-size: 2em;
            display: inline-block;
            padding: 8px;
            background-color: black;
            color: white;
            font-family: "Maison Neue", sans-serif;
            right: 0;
            border-radius: 0 0 2px 2px;
            cursor: pointer;
            text-align: right
        }

        h1{
            font-size: 1.62em;
            text-align: left;
            padding: 0vh 2vw;
            margin-top: 4em;
            text-align: left;
            
        }


       
        input, textarea, button{
            display: block;
            border: 1.2px solid black;
            margin: 2em;
            font-family: "Maison Neue", sans-serif;
            
            
        }

        input, textarea{
            padding: 7px 9px;
            width: 70%;
            border-radius: 2px;
        }

        textarea{
            height: 26vh;
        }

        button{
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 9px 12px;
            font-family: "Maison Neue", sans-serif;
            border-radius: 4px;
            cursor: pointer;
        }
      
        

    }
}






/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding.jpg");
        background-position: center;  
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;
       

        main{

            padding-left: 1em;

            p{
                width: 70%;
                text-align: left;
            }

            h1{
                text-align: left;
            }

            b{
                text-align: left;
                display: block;
            }

            .newButton{
                width: 70%;

                .newSocial{
                    display: grid;
                    grid-template-columns: repeat(3, 30%);
                    text-align: left;
                    grid-column-gap: 1em;

                    a{
                        width: 12vw;
                    }
                }

                .socialLink{
                    a{
                        img{
                            width: 70%;
                        }
                    }
                }
            }
           
        }           


    }

    body{
        .form{
            width: 70%;
            display: none;
        }
    }


}
    

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    .body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding-min.jpg");
        background-position: left;
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;
    }

    body{
        .form{
            width: 90%;
            display: none;
            margin: 0;
            left: 3vw;
            top: 10vh;
        }

        .body{
        main{
            padding-left: 1em;
           
    
            b{
                text-align: left;
                display: inline-block;
            }
    
            h1{
                text-align: left;
                font-size: 40px;
            }

            b{
                text-align: left;
                padding: 0;
                margin: 0;
                display: block;
            }

            p{
                text-align: left;
                width: 100%;
            }
    
            .button{
                
                button{
                    width: 100%;
                }

                a{
                   
                    display: block;
                }
            }
    
          
             .newButton{
                display: block;
                grid-template-columns: 70% 30%;
                grid-column-gap: -1em;
    
                .newSocial{
                    display: block;
                    grid-template-columns: repeat(3, 33%);
                    text-align: right;
                    grid-column-gap: 0.4em;
    
                    a{
                        display: block;
                        padding: 0;
                        background-color: transparent;
                        border: 1.7px solid rgb(255, 255, 255);
                        width: 50.3vw;
                        margin: 1em 0;
                        border-radius: 4px;
                        padding: 7px 3px;
                        font-family: "Maison Neue", sans-serif;
                        font-weight: bolder;
                        cursor: pointer;
                        font-weight: lighter;
                        text-align: center;
    
                        button{
                           background-color: transparent;
                           border: none;
                           color: white;
                           cursor: pointer;
                        }
                        
                    }
                }
    
                .socialLink{
    
                    display: grid;
                    padding: 7px 3px;
                    text-align: left;
                    grid-column-gap: 0;
                    grid-template-columns: repeat(4, 16%);
    
                    a{
                        display: inline-block;
                        padding: 0;
    
                        img{
                            width: 40%
                        }
                    }
                }
            }
        }
    }

    

    
       
}}

