$mainColor: #F8A91D;
$Roboto:'Roboto Mono', monospace;
$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;;




*{
    margin: 0;
    padding: 0;
}

.body{
    background: linear-gradient(to left, #4747479c  40%, rgba(240, 240, 240, 0.192) ) , url("../tayoStanding.jpg");
    background-position: center;
    background-size: cover;
    padding-right: 10vw;
    padding-top: 13vh;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    position: relative;


    main{
       text-align: right;
    //    display: none;
    
        h1{
            font-family: "Times New Roman", Times, serif;
            font-size: 4em;
            font-weight: lighter;
            color: white;
        }

        b{
            font-size: 1.3em;
            color: white;
            font-family: "Maison Neue", sans-serif;
        }

        p{
            font-family: "Maison Neue", sans-serif;
            color: white;
            font-size: 1.3em;
            line-height: 1.52em;
            margin: 2em 0;
            text-align: left;
        }

        .button{
           width: 80%;
           text-align: left;
           
           button{
            background-color: transparent;
            border: 2px solid white;
            border-radius: 5px;
            padding: 1vw 8vw;
            margin-bottom: 2em;
            color: white;
            font-family: $poppins;
            font-weight: bolder;
           }
        }

        .social{
            display: grid;
            grid-template-columns: repeat(4, 6%);
            grid-column-gap: 3px;
            text-align: left;

            &:hover a{
                opacity: 0.5;
            }
            

            img{
                width: 20px;
                
            }

            a{
                display: block;

                &:hover{
                    opacity: 1;
                    transform: scale(1.2);
                    transition: 0.31s;
                }
            }
        }
    

       
    
      
    }

    
}


body{
    .form{
        width: 40vw;
        margin: 3em auto;
        background: rgb(255, 255, 255);
        font-family: "Maison Neue", sans-serif;
        display: block;
        height: 60vh;
        padding: 5vh 3vw;
        text-align: right;
        box-shadow: 0px 0px 10px 0px rgb(226, 226, 226);
        position: absolute;
        top: 0;
        left: 30vw;

        .cancel{
            position: absolute;
            top: 0;
            font-size: 2em;
            display: inline-block;
            padding: 8px;
            background-color: black;
            color: white;
            font-family: "Maison Neue", sans-serif;
            right: 0;
            border-radius: 0 0 2px 2px;
            cursor: pointer;
            text-align: right
        }

        h1{
            font-size: 1.2em;
            text-align: left;
            padding: 0vh 2vw;
        }

        input, textarea, button{
            display: block;
            border: 1.2px solid black;
            margin: 2em;
            font-family: "Maison Neue", sans-serif;
            
            
        }

        input, textarea{
            padding: 7px 9px;
            width: 70%;
            border-radius: 2px;
        }

        textarea{
            height: 26vh;
        }

        button{
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 9px 12px;
            font-family: "Maison Neue", sans-serif;
            border-radius: 4px;
            cursor: pointer;
        }
      
        

    }
}






/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding.jpg");
        background-position: center;  
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;

        main{

            padding-left: 1em;

            p{
                width: 70%;
            }

            h1{
                text-align: left;
            }

            b{
                text-align: left;
                display: block;
            }

           
        }


    }

    body{
        .form{
            width: 70%;
            display: none;
        }
    }


}
    

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    .body{
        background: linear-gradient(to left, rgba(41, 40, 40, 0.459), rgba(90, 89, 89, 0.589) ) , url("../tayoStanding.jpg");
        background-position: left;
        background-size: cover;
        display: inline-block;
        height: auto;
        background-repeat: no-repeat;
        height: 100vh;
    }

    body{
        .form{
            width: 90%;
            display: none;
            margin: 0;
            left: 3vw;
            top: 10vh;
        }

        main{
            padding-left: 1em;
    
            b{
                text-align: left;
                display: inline-block;
            }
    
            h1{
                text-align: left;
            }
    
            .button{
                
                button{
                    width: 100%;
                }
            }
    
            .social  {
                display: block;
                a {
                   display: block;
                   margin-right: 2em;
                }
                
            }
        }
    }

    

    
       
    }

